sudo: required

services:
  - docker

language: python

python:
  - 3.5

env:
  global:
    - THUMBOR_VERSION=6.7.0
    - DOCKER_COMPOSE_VERSION=1.14.0
    - secure: LSNYgDagNJrEBIZtAMXgGNaza66WniJNWVYpeZ00bxrqF2AJ/NLt9FGGvySDwJHcgqgD0SbsxD7EAefuZlBNq/68qvHFtnNZb5FoU6gjXW9Kvdlvtt6r5zcTvrPDwAlaGUi6iDnTxNd1YK+dQ5M5QPk6Vr3yAU2Pd/SjQtDTZU9TIUPIU2PHkzf/3mOV2VXrwfN4SR1XDe15Dk/dofDc0GWfvSQUedUZzEYGOT4yg5CNa1Zps10tD5rEsGaYoiBfJyTNaaXPufGbytqrJ0OyLXtkKevcVGQcCZn2RrBqwMatuOMdlsx5UxHbxSCHngtwQgIE7nKsuSQupW4R8MK9RmSWPy34rbaBAb3qWYBrmEQxBSeVFDShML+wunMWwjJ2Spugc4ER71PX4O97GtQB/4H9EyEFuDO9MnEIHX6GpRCS21NHVXUVAdrAHXfTGZBIvrOcAHh9y1idHeCsF92X0qBNkC+MNaAxWV+gvCZ+sZpDKrfoUMDI+nxff5B/Cb33++9iv4gWz01GJDVmK6YyTT0/6+KzHNU0mp7ji7wgvlTUDYCSTR1+11R9Aoalt07KfMJS1gGG8HuMFcSCV7z1btxWZUWKpC6WydXwJuVyQZg7g6HYJEEHxtpP8z81FWLhGQWk3qMpi5kxZrqDQ7IES8ibK1o1tyFMUCn0Jdm6Uyo=
    - secure: JHQ1g7ZWuO5IQhPd915so8pBPfMNp00rRRvNmewHaUXO33UnC6g1pFkTKsx5QpDi0QxdH0o0DYOXB1nvd1Y/cO3spW5P2dV0kfftr2GUTGKf6WTakZPfqowvZN6YKA+rI7eFaGnhrVLhzKhK5T5Gu9UHklPlndo6LvQxqQBuYI2uggSTK4M4zD5XWqEe6o0RJ89y6xX7DyqLKIkXF3N/RcoHLh7GSfNZNdaN/u/Nb1fQKTYIOiMVIPYYNm1DU4c/jsIxxJhxC60DgavC5rwCLQg5FXT5vQ6Ky41JRR0U3a23US3E0wMaHP1LvHP9o4jfFeA6pLG7zgceGkY+IKlsWPT2pr3nR71xCHEtZe2tPvAlwvgwIngliM06SIGrk0s5yuhD6Qvug9/DfAe96gD557WYEXXnT++ByW/+gGq3kiWBQlMqg9Z8N15WIA0qe+LUrkmw9MiuWkJyR3hP0Kidl/pv0AAM0oqqGuLiruPAsetk24lT2zh77t4wOI1jyGUwaqVHUlRHOegflXcRh9eAsBHFmXDJEkqLDs4yJ+oeMUnLyoLy24xJ1hvx41oVGbIQL0qTIikkN5i9qAU0hX8ZoBOwQN+WoffNC2+tEX0cDhTugKIg3YzHkHqYDmplCsElP8PAuCzxl0/P8W4CtHqn9F0FO+CgW3HLit9jJfHFYeA=
    - secure: b1+J/WngVLdn37ubp7iJLGHY3X5j95Ewk60mYOy4FAfdb6ofK6dtOUXTGHNjqMNsZDoZShjuFvB3+Qrz5VSzx2JT/R+hgqdr08Ft8powZYUPJUOBih+mZAo1ACgxhn/jHQsp/OUkD4Qe0PGRVqva10HQP55+SINH605b9/HGQdQwGhI++kvsqLaQZVcdKtFyetF+RkY70rXAsite53zd++2FYScvsjuf0ie5BTmPTyoOs1Cq8w1/+xVSb911F5m1KIJg8Z3O1zXL1XJ2IXAHoVGxuoCeGNw61RKEMp3VGZPeX/TBvFSbQ5alShmxgS6GPAcZFsWX/Lv6CdYOWoXjDKCTfrgvoElcn8AvBoZiNDf9aegnHZooHskoA4Bi+Tj83TDoZvB1qQvLWhD/ldZl+/9gBj/f3zO8FECK+RTDeN5MNgKWs/eg8lU9D1JRYw2JkN+AADUZlJXGZiZHGQDh03rsSfb0C4LpwulZwEWCTB5s1y22WwI+1Ec+S4TajqPInojn45qUIyH0sf/JPVYpCYAbbQWugwz+rrvuv90rPYNI8m73Fv2jk5a57P5t4+UBGS6UNfq8Kyj5d/b/hRznT4lvE3hvPwRjo07C4m+hPAJgPuRnFCZhaJ4E6b9zgdgKitaz/xGiosn2O4Y2apT5mNcgbHEq1v0j+P19CxDqDHg=

before_install:
  # Install docker-compose
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

install:
  # Install test requirements
  - pip install -r tests/requirements.txt

script:
  # build images and run tests
  - make builds
  #- make run-tests

after_success:
  # login to the registry
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  # tagging images from build tags and tagging for latest if the current branch is master
  - make tags
  - make tags-master
  # push images and latest images if the current branch is master
  - make push
  - make push-master
  # show images created
  - docker images -a

notifications:
  email:
    - gshark@gmail.com
    - bcanyelles@apsl.net
