version: '2'

services:

  thumbor:
    #build: thumbor
    image: apsl/thumbor-multiprocess:6.2.0b
    environment:
      - RESULT_STORAGE=thumbor.result_storages.file_storage
      - RESULT_STORAGE_STORES_UNSAFE=True
      - STORAGE=thumbor.storages.mixed_storage
      - DETECTORS=["thumbor.detectors.queued_detector.queued_complete_detector"]
      - REDIS_STORAGE_SERVER_HOST=redis
      - REDIS_STORAGE_SERVER_PORT=6379
      - REDIS_STORAGE_SERVER_DB=0
      - REDIS_QUEUE_SERVER_HOST=redis
      - REDIS_QUEUE_SERVER_PORT=6379
      - REDIS_QUEUE_SERVER_DB=0
      - MIXED_STORAGE_DETECTOR_STORAGE=tc_redis.storages.redis_storage
    volumes:
      - data:/data
    links:
      - redis:redis
    networks:
      - app


  openshift:
    build: thumbor-openshift
    image: hub.apsl.net/library/thumbor-openshift:latest

  nginx:
    build: nginx
    image: hub.apsl.net/library/thumbor-nginx:latest
    environment:
      - NGINX_CACHE_FILESYSTEM_SIZE_MB=128
      - NGINX_CACHE_FILESYSTEM_PATH=\/tmp\/nginx_cache\/
    links:
      - thumbor:thumbor
    volumes_from:
      - thumbor
    ports:
      - "8169:80" # thumbor port
    hostname: nginx
    networks:
      - app

  remotecv:
    build: remotecv
    links:
      - redis:redis
    environment:
      - REMOTECV_REDIS_HOST=redis
      - REMOTECV_REDIS_PORT=6379
      - REMOTECV_REDIS_DATABASE=0
    networks:
      - app

  redis:
    image: redis:latest
    networks:
      - app

volumes:
  data:
    driver: local
networks:
  app:
    driver: bridge
