THUMBOR_VERSION=6.6.0

ENGINE_THREADPOOL_SIZE=4
RESULT_STORAGE=thumbor.result_storages.file_storage
RESULT_STORAGE_STORES_UNSAFE=True
STORAGE=tc_redis.storages.redis_storage
REDIS_STORAGE_IGNORE_ERRORS=False
REDIS_STORAGE_SERVER_HOST=redis
REDIS_STORAGE_SERVER_PORT=6379
REDIS_STORAGE_SERVER_DB=0
ALLOW_UNSAFE_URL=True
THUMBOR_PORT=8000
THUMBOR_HOST=thumbor
NGINX_PORT=8000
RESULT_STORAGE_FILE_STORAGE_ROOT_PATH=/data/result_storage
PATH_FORMAT_VERSION=v2