argparse==1.2.1
envtpl==0.4.1
boto==2.38.0
dateutils==0.6.6
numpy==1.9.2
pyremotecv==0.5.0
remotecv==2.1.0
opencv-engine==1.0.1
redis==2.4.12
thumbor==5.2.1
#tc-aws==2.1.1
tc-core==0.3.0
tc-shortener==0.2.2
raven==5.10.1
git+https://github.com/eduherraiz/aws.git@remotecv#egg=tc_aws