envtpl==0.6.0
circus==0.15.0
circus-web==1.0.0
boto==2.48.0
botocore==1.10.14
dateutils==0.6.6
numpy==1.14.3
remotecv==2.2.2
opencv-engine==1.0.1
git+https://github.com/maximka777/thumbor.git@mb/meta-primary-color
tornado-botocore==1.3.2
tc-aws==6.2.10
tc-core==0.4.0
tc-shortener==0.2.2
raven==6.7.0
thumbor-memcached==5.1.0
tc-mongodb==5.1.0
tc-redis==1.0.1
thumbor-cloud-storage==3.0.0
pgmagick==0.7.4
graphicsmagick-engine==0.1.1