python-numpy
python-opencv
git
curl
libdc1394-22
libjpeg-turbo-progs
graphicsmagick
libgraphicsmagick++3
libgraphicsmagick++1-dev
libgraphicsmagick-q16-3
zlib1g-dev
libboost-python-dev
libmemcached-dev
gifsicle=1.88*
ffmpeg