python-numpy
python-opencv
git
mercurial
curl
build-essential
libcurl4-openssl-dev
python
python-dev
python-distribute
python-pip
libdc1394-22
libdc1394-22-dev
libjpeg-dev
libpng12-dev
libtiff5-dev
libjasper-dev
libjpeg-turbo-progs
