python-numpy
python-opencv
git
curl
libdc1394-22
libjpeg-turbo-progs
graphicsmagick
libgraphicsmagick++3
libgraphicsmagick++1-dev
libgraphicsmagick3
libboost-python-dev
libmemcached-dev
gifsicle=1.88*
ffmpeg
