argparse==1.2.1
envtpl==0.4.1
boto==2.39.0
dateutils==0.6.6
numpy==1.11.0
pyremotecv==0.5.0
remotecv==2.2.1
opencv-engine==1.0.1
thumbor==6.1.3
raven==5.15.0
remotecv_aws==0.1
pgmagick==0.6.1
graphicsmagick-engine==0.1.1
